<article
        class="w-full  bg-[#FFFFFF] dark:bg-[#000000] border border-black/5 dark:border-darkBlack/5 p-6 transition-all ">

    <div class="flex flex-col items-start">
        <div class="w-full text-justify">
            <figure>
                {% if image is not empty %}
                    <img {{ attributes.defaults({ class:'w-full h-auto mx-auto  rounded-lg shadow-md mb-8'}) }}
                            src="/images/services/{{ image }}"
                            alt="{{ alt }}"
                    />
                {% else %}
                    <div class="w-full aspect-video bg-gradient-to-b from-black to-secondary "></div>
                    {#                <div class="w-full aspect-video bg-gradient-to-r from-secondary/60 to-secondary/80 "></div> #}
                {% endif %}
            </figure>
            {{ component("H2", {
                "label": subtitle,
                "class": "text-secondary font-semibold text-sm"
            }) }}
            {{ component("H3", {
                "label": label,
            }) }}
            <div class="leading-loose pt-6 text-base text-black/80 dark:text-darkBlack/80 text-left">
                {{ content | raw }}
            </div>
        </div>
    </div>
</article>