<!DOCTYPE html>
<html lang="fr-BE">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue snackers !{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Welcome!{% endblock %}">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{% block og_title %}Bienvenue snackers !{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Bienvenue snackers !{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ asset('images/jiffy-og-image-01.png')}}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class=" w-screen bg-white dark:bg-darkWhite text-black dark:text-darkBlack/50 p-1 font-poppins-regular relative {% block body_class %} {% endblock %} ">
{% block body_background %} {% endblock %}
{{ component('Header', {
    routes: {
        'app_home': 'Accueil',
        'app_news': 'News',
        'app_services': 'Services',
        'app_albums_index': 'Photos',
    }
}) }}
<main class="flex flex-col justify-between w-full md:max-w-[90rem] min-h-screen shadow shadow-md dark:shadow-darkBlack/30 md:mt-12  m-auto">
    {% for message in app.flashes('success') %}
        <div class="w-full bg-primary/10 text-primary py-6 px-3">
            {{ message }}
        </div>
    {% endfor %}
    <div class="w-full p-0m-0">
        {% block body %}{% endblock %}
    </div>
    {% include 'themes/'~app_theme~'/_parts/_footer.html.twig' %}

</main>
</body>
</html>
