<header class="absolute w-full top-0 left-0 z-10 " {{ stimulus_controller('menu') }}>
    {#    mobile #}
    <div class="lg:hidden" {{ stimulus_target('menu', 'mobile') }}>
        <div class=" w-full p-5 bg-white/5 dark:bg-darkWhite/10 overflow-hidden grid grid-cols-12 gap-4  absolute top-0 left-O">
            <div class="grid place-content-center cursor-pointer" {{ stimulus_action('menu', 'toggle', 'click') }}>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class="h-9 w-9 font-black align-self-center align-middle fill-current text-black dark:text-secondary">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"/>
                </svg>
            </div>
            <div class="flex items-center justify-center col-span-10 font-black text-lg text-black dark:text-darkBlack">{{ app_company_infos.name }}</div>
            <div class="flex items-center w-6 ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-9 h-9 fill-current text-black/50 dark:text-darkBlack/50">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                </svg>
            </div>
        </div>
        <nav class="min-h-[50vh] pt-12 text-xl flex flex-col gap-5 text-black -mt-[70vh] -z-20 transition-all duration-500 ease-in-out bg-white dark:bg-darkWhite"
                {{ stimulus_target('menu', 'nav') }}>
            <ul class="pl-6 pt-16">


                {#               TEMP REMOVE #}
                {#            {% for route, name in routes %} #}
                {#                <li> #}
                {#                    {{ component('Link', { #}
                {#                        route: route, #}
                {#                        label: name, #}
                {#                        class: "!text-black dark:!text-darkBlack !my-3 !no-underline border-b border-black/50 dark:border-darkBlack/50" #}
                {#                    }) }} #}
                {#                </li> #}
                {#            {% endfor %} #}

                {#               TEMP DISPLAY #}
                    <li>
                        {{ component('Link', {
                            route: 'app_home',
                            label: 'Accueil',
                            class: "!text-black dark:!text-darkBlack !my-3 !no-underline border-b border-black/50 dark:border-darkBlack/50"
                        }) }}
                    </li>
                    <li>
                        {{ component('Link', {
                            route: 'app_contact',
                            label: 'Contact',
                            class: "!text-black dark:!text-darkBlack !my-3 !no-underline border-b border-black/50 dark:border-darkBlack/50"
                        }) }}
                    </li>

                {#             END  TEMP DISPLAY #}


            </ul>
        </nav>
    </div>
    {#    desktop #}
    <div class="w-full px-8 hidden lg:grid grid-cols-12 gap-4 my-9" {{ stimulus_target('menu', 'desktop') }}>
        <div class="col-span-3 flex items-center font-black text-lg text-black dark:text-darkBlack">{{ app_company_infos.name }}</div>
        <nav class="col-span-8 flex items-center">
            <ul class="flex justify-start items-center gap-5">

{#                TEMP REMoVE#}
{#                {% for route, name in routes %}
                    <li>
                        {{ component('Link', {
                            route: route,
                            label: name,
                            class: "!text-black dark:!text-darkBlack"
                        }) }}
                    </li>
                {% endfor %}#}
                {#               TEMP DISPLAY #}
                    <li>
                        {{ component('Link', {
                            route: 'app_home',
                            label: 'Accueil',
                            class: "!text-black dark:!text-darkBlack !my-3 !no-underline border-b border-black/50 dark:border-darkBlack/50"
                        }) }}
                    </li>
                    <li>
                        {{ component('Link', {
                            route: 'app_contact',
                            label: 'Contact',
                            class: "!text-black dark:!text-darkBlack !my-3 !no-underline border-b border-black/50 dark:border-darkBlack/50"
                        }) }}
                    </li>

                {#             END  TEMP DISPLAY #}

            </ul>
        </nav>
        <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-9 h-9 fill-current text-black/50 dark:text-darkBlack/50">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
            </svg>
        </div>
    </div>
</header>