{% extends 'themes/'~app_theme~'/layouts/page-layout.html.twig' %}

{% block title %} {{ app_album_section }} | {{ album.name }} {% endblock %}
{% block page_title %}
    <div class="flex flex-col text-center">
        {{ component("H1", {label: app_album_section}) }}
        {{ component("H2", {label: album.name}) }}
    </div>
{% endblock %}

{% block body %}
    <div class="w-full relative" {{ stimulus_controller('gallery') }}>
        <div class="absolute -z-30 top-0 left-1/4 block w-full aspect-video transition-all ease-in duration-300 pt-6 pv-6  pl-16 pr-16 opacity-0 bg-white dark:bg-darkWhite">
            <button class="bg-secondary  border border-black/10 dark:border-black/10 text-white text-sm mb-1 rounded-md absolute top-12 right-20 z-10"
                    {{ stimulus_action('gallery', 'close', 'click') }}>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class=" text-white dark:text-darkWhite w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>

            </button>
            <img src="/images/transparent_pixel.webp" alt="" class="w-10/12 m-auto relative"
                    {{ stimulus_target('gallery', 'big') }}>
            <div class="text-secondary dark:text-darkBlack font-bold py-2 my-1"
                    {{ stimulus_target('gallery', 'alt') }}>

            </div>
        </div>
        <div class="absolute -z-10 top-0 left-0 w-full h-1/2 block">

        </div>
        <section class="w-full md:w-3/4 min-h-screen m-auto ">

            <p class="p-12 text-lg leading-loose"> {{ album.description | raw }} </p>

            <div class="grid grid-cols1 md:grid-cols-3 gap-16 p-12 py-16">
                {% for image in album.images %}
                    <figure>
                        <img src="/images/albums/{{ image.fileName }}"
                             alt="{{ image.alt }}"
                             class="rounded-md shadow-sm md:hover:cursor-pointer"
                                {{ stimulus_action('gallery', 'zoom', 'click') }}
                        >
                    </figure>
                {% endfor %}
            </div>

        </section>
    </div>
    <div>
{% endblock %}