{% extends 'themes/'~app_theme~'/layouts/home-section.html.twig' %}

   {% block class %} !py-6 !px-0 {% endblock %}
   {% block id %} hero {% endblock %}
   {% block title_container %}{% endblock %}

   {% block content %}
       <div class="w-full p-0 flex relative ">
           <div class="w-full  h-20 absolute top-0 left-0 z-40 bg-gradient-to-b from-white to-white/0 dark:from-black dark:to-black/0 block"> </div>
           <div class="w-full  h-20 absolute bottom-0 left-0 z-40 bg-gradient-to-b from-white/0 to-white dark:from-black/0 dark:to-black block"> </div>
           <div class="absolute w-11/12 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2  px-4 py-8 backdrop-blur-sm bg-white/30 md:w-1/2 md:left-4 rounded-md">
               {{ component ('H1', {
                   label: setup.headline,
                   class: "!text-black-alt !text-darkWhiteAlt "
               }) }}
               <div class="flex justify-start items-end">
                   {{ component ('Primary', {
                       label: 'Action',
                       class: "!mb-0 mr-6"
                   }) }}
{#                   <twig:Button:Secondary>dsdsqdsq</twig:Button:Secondary>#}
{#
                   {{ component ('Secondary', {
                       label: 'Action',
                       class: "!mb-0 mr-6 !bg-secondary/10",
                       href: "google.com"
                   }) }}#}
{#                   {{ component ('Link', {
{#                       hrefLink: '#services',#}
{#                       label: 'Autre action',#}
{#                       class: '!font-bold  !dark:text-darkWhite'#}
{#                   }) }}#}
               </div>
           </div>

           <div class="-z-20 w-full block  aspect-74 md:aspect-video bg-no-repeat bg-center bg-cover {% if setup.cta_image is empty %} bg-gradient-to-r from-black/20 to-black/10 {% endif %}"
                   {% if setup.cta_image is not empty %} style="background-image: url('/images/home/{{ setup.cta_image }}')"{% endif %} >
           </div>

       </div>
       <div class="my-16 px-5">
           {{ component ('H2', {
               label: setup.sub_headline,
               class: "text-left"
           }) }}
       </div>

   {% endblock %}